<!doctype html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <!-- Hiding User Interface Components if installed as webapp by browser -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png" />
    <script type="text/javascript">
      // crowdin in context translation
      var _jipt = [];
      _jipt.push(['project', 'photobooth-app']);
    </script>
  </head>
  <body>
    <!-- quasar:entry-point -->
    <!-- allow user to customize css. it's added at the end so it overwrites other css included in the app -->
    <link rel="stylesheet" type="text/css" href="/private.css" />
  </body>
</html>
