@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  font-optical-sizing: auto;
  src: url('./fonts/Inter-4.0/web/InterVariable.woff2') format('woff2-variations');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  font-optical-sizing: auto;
  src: url('./fonts/Inter-4.0/web/InterVariable-Italic.woff2') format('woff2-variations');
}

// app global css in SCSS form
body {
  background: $grey-2;
  background: linear-gradient(120deg, rgba(245, 245, 245, 1) 0%, rgb(227, 229, 240) 50%, rgb(245, 245, 245) 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#preview-wrapper,
#preview-stream,
#preview-frameoverlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  pointer-events: none;
  transform: translateZ(0);
}
#preview-wrapper.mirroreffect {
  transform: scale(-1, 1);
}
#preview-blurredback {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  position: absolute;
  filter: blur(13px);
  transform: translateZ(0);
  opacity: 0.6;
}
#preview-stream,
#preview-frameoverlay {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.action-button {
  font-size: 1.6rem;

  * > .q-icon {
    font-size: 6.5rem;
  }
}

.q-btn.glass-effect {
  backdrop-filter: blur(10px);
  &.bg-primary {
    background: rgba($primary, 0.4) !important;
  }

  &.bg-secondary {
    background: rgba($secondary, 0.4) !important;
  }
}

.toolbar {
  //font-size: 2rem;
  .q-btn {
    font-size: 1.1rem;
  }
}
