@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  font-optical-sizing: auto;
  src: url('./fonts/Inter-4.0/web/InterVariable.woff2') format('woff2-variations');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  font-optical-sizing: auto;
  src: url('./fonts/Inter-4.0/web/InterVariable-Italic.woff2') format('woff2-variations');
}

// app global css in SCSS form
body {
  background: $grey-2;
  background: linear-gradient(120deg, rgba(245, 245, 245, 1) 0%, rgb(227, 229, 240) 50%, rgb(245, 245, 245) 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#frontpage_text {
  pointer-events: none;
  user-select: none;
}

.action-button {
  font-size: 1.6rem;

  * > .q-icon {
    font-size: 6.5rem;
  }
}

.q-btn.glass-effect {
  backdrop-filter: blur(10px);
  &.bg-primary {
    background: rgba($primary, 0.4) !important;
  }

  &.bg-secondary {
    background: rgba($secondary, 0.4) !important;
  }

  &.bg-positive {
    background: rgba($positive, 0.4) !important;
  }

  &.bg-negative {
    background: rgba($negative, 0.4) !important;
  }

  &.bg-grey {
    background: rgba($grey, 0.4) !important;
  }
}

.toolbar {
  //font-size: 2rem;
  .q-btn {
    font-size: 1.1rem;
  }
}
